.info {
  ion-avatar {
    margin: 10px auto;
  }

  ion-card-header {
    align-items: center;
  }
}

.logout {
  --ion-item-color: #fff;
  --ion-item-background: #eb445a;

  ion-label {
    text-align: center;
  }
}
